<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
    <p>This is the task addition screen</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title }}
        {{ form.description.label }} {{ form.description }}
        {{ form.due_date.label }} {{ form.due_date }}
        <input type="submit" value="{{ submit_text }}">
    </form>
</body>
</html>